{% extends 'base.html.twig' %}

        {% block content %}

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            
            {% block page_contents %}{% endblock %}
            
            {{ include('footer.html.twig') }}
            
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        
        {% endblock %}